html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: 'Oxygen', sans-serif;
}

.avatar{
    border-radius: 50%;
    margin-left: 45%;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#003049, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(#dc3545,#003049 );
    border-radius: 0 0 20px 20px;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}


.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.contenedor-reseñas {
    width: 750px;
    height: 500px;
    background-color: white;
    border-radius:30px;
    margin-right: 0px;
    margin-top: 10px;
    float: left;
    border: solid 2px black;
}


/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
}

    #login-box {
    width: 320px;
    height: 270px;
    background: rgba(0, 0, 0, 0.699);
    color: #fff;
    top: 60%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    padding: 70px 30px;
    border: solid white;
}

.login-box .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(46% - 50px);
}
.avatar {
    border-radius: 50%;
}

#login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

#login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}


#login-box input {
    width: 100%;
    margin-bottom: 20px;
}

#login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 38px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background:#ffc107;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    border: none;
    outline: none;
    height: 40px;
    background: #ffc107;
    color: black;
    font-size: 22px;
    border-radius: 17px;
}
.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
label {
    display: table-row-group;
    background-color: white;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 38px;
    color: #fff;
    font-size: 16px
}

input {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 32px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.submit {
    cursor: pointer;
    background-color: #b80f22;
    color: white;
}
.submit :hover {
    background-color: #e9a8b0;
}

#login-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color:#FDF0D5;
}

#login-box a:hover {
    color: #fff;
}

#btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #f1efef;
    font-size: 14px;
    border-radius: 20px;
    margin: 30px;
    padding: 0.375rem 3.12rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 0px;
    height: 0vmin;
    background-color: #000;
}

.modal-dialog {
    max-width: 650px;
    margin: 2.75rem auto;
}

#modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color:  #0e0d0dfa;
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0; 
}
#modal-header {
    background: #b80f22;
    padding: 0px;
    background-image: none;
}

#modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem; 
}

#modal {
    position: absolute;
    top: -1cm;
    left: -17cm;
    z-index: 1055;
    display: none;
    width: 200%;
    height: 500%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: black !important;
    padding: 0px;
    top: 0px;
}
.btn-danger {
    background-color: #b02a37!important;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 5px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.d-flex{
    margin-right: 400px;
}
.form-control{
    margin-left: 70px;
    margin-inline: 440px;
}


.me-2 {
    margin-right: -14.5rem!important;
    padding: 18px;
    margin-top: 20px;
}

.btn-outline-secondary {
    color: black;
    border-color: black;
    margin-left: -58px;
    margin-top: 18px;
    background-color: white;
    border-radius: 10px;
} 